
.main {
  height: auto;
  width: 100%;
  padding: 08rem 0 5rem 0;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../../public/new.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main h1 {
  font-family: "Avenir Next", Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 56px;
  color: #ffff;
  background: linear-gradient(
    90deg,
    rgba(212, 22, 22, 1) 4%,
    rgba(221, 215, 15, 1) 49%,
    rgba(6, 231, 228, 1) 91%
  );
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.container {
  display: inherit;
  width: 70%;
  padding: 5rem 0 5rem 0;
  background-color: #07121b;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  color: white;
}

.container Table {
  
  border-collapse: collapse;
}
.thead {
  height: 3rem;
}

.tclm {
  border: 1px solid white;
  height: 3rem;
  width: 8rem;
  font-family: "Avenir Next", Lato, Arial, sans-serif;
  font-size: 1rem;
}
.trow {
  height: 2rem;
}

.tdata {
  border: 1px solid white;
}
.high_24h {
  color: green;
  font-weight: bold;
}

.low_24h {
  color: red;
  font-weight: bold;
}

